{{bean.owner}}<br>{{bean.category}}<br>{{bean.body}}<br><img src={{bean.image}}>

<h2>Comments</h2>
<ul>
  {{#each bean.comments as |comment|}}
    {{comment-tile comment=comment editComment="editComment" destroyComment="destroyComment"}}
  {{/each}}
</ul>
