{{#if addNewBean}}
    <form class="new-post">
        <div class="form-group">
            {{input value=owner id="owner" placeholder="Name"}}
        </div>

        <div class="form-group">
            {{input value=category id="category" placeholder="Category"}}
        </div>

        <div class="form-group">
            {{input value=body id="body" placeholder="Post"}}
        </div>

        <div class="form-group">
            {{input value=image id="image" placeholder="Image URL"}}
        </div>
        <button {{action 'saveBean'}}>Post Bean</button>
    </form>
{{else}}
    <button {{action 'beanForm'}}>New Bean</button>
{{/if}}
