<h2>Review {{model.owner}}'s {{model.category}} bean.</h2>

{{bean-detail bean=model}}

{{new-comment  saveComment="saveComment" bean=model}}

<!-- {{comment-tile destroyComment="destroyComment" editComment="editComment"}} -->
