<h2>Review {{model.owner}}'s {{model.category}} bean.</h2>

{{update-bean bean=model editBean="editBean"}}

{{bean-detail bean=model destroyBean="destroyBean"}}

{{new-comment  saveComment="saveComment" bean=model}}
